@import '../constants';

.DisplayError {
  margin: $gap-large 0;

  pre {
    color: $red-color;
  }
}

.DisplayValue {
  &.left {
    background-color: $bg-red-color;
  }

  &.right {
    background-color: $bg-green-color;
  }
}

.DisplayResult {
  pre {
    margin: 0;
    padding: $gap-2x-small;
  }
  
  &.collapsed {
    pre {
      cursor: pointer;
    
      &:hover {
        background-color: $bg-highlight-color;
      }
    }

    &.differ > pre {
      background-color: $orange-color;
      
      &:hover {
        background-color: $orange-highlight-color;
      }
    }
  }
}
