@import '../constants';

.DisplayError {
  margin: $gap-large 0;
  padding: $gap-small $gap-medium;
  border: 1px solid $accent-red-2x-dark;
  background-color: $accent-red;

  pre {
    color: $primary-color-3x-dark;
  }
}

.ComparedValue {
  .collapsable {
    cursor: pointer;

    &:hover {
      background-color: $primary-color-dark;
    }

    &.mixed:hover {
      background-color: $accent-orange-dark;
    }
  }

  &.left {
    background-color: $accent-red-2x-dark;
    
    .collapsable:hover {
      background-color: $accent-red-dark;
    }
  }

  &.right {
    background-color: $accent-green-2x-dark;
    
    .collapsable:hover {
      background-color: $accent-green-dark;
    }
  }

  .mixed {
    background-color: $accent-orange-2x-dark;
  }
}

.ComparedValues {
  pre {
    margin: 0;
    padding: $gap-2x-small;
    font-family: $font-family-mono;
  }
}
