@import '../constants';

.DisplayError {
  margin: $gap-large 0;

  pre {
    color: $red-color;
  }
}

.ComparedValue {
  &.left {
    background-color: $bg-red-color;
  }

  &.right {
    background-color: $bg-green-color;
  }

  .mixed {
    background-color: $orange-color;
  }

  .collapsable {
    cursor: pointer;

    &:hover {
      background-color: $bg-highlight-color;
    }

    &.mixed:hover {
      background-color: $orange-highlight-color;
    }
  }
}

.ComparedValues {
  pre {
    margin: 0;
    padding: $gap-2x-small;
  }
}
