@import '../constants';

.ManualInput {
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: $gap-large 0;
    column-gap: $gap-large;
  }

  .action {
    margin-bottom: $gap-large;
    text-align: center;

    .compare {
      display: inline-block;
      margin: auto;
      padding: $gap-small $gap-medium;
      border: 1px solid $neutral-color-3x-light;
      background-color: $primary-color-3x-dark;
      color: $neutral-color-3x-light;
      cursor: pointer;
    }
  }
}

.SingleInput {
  textarea {
    width: 100%;
    height: 400px;
    font-family: $font-family-mono;
  }
}
