@import './constants';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700');

*,
::before,
::after {
  box-sizing: border-box;
  font-family: $font-family-regular;
}

body {
  margin: 0;
  background-color: $primary-color-3x-dark;
  color: $neutral-color-3x-light;
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
